# dependencies
/node_modules

# testing
/coverage

# export
/dist

# production
/build
/dist
/.next
/bundles

# misc
.DS_Store
Thumbs.db
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dotenv files
.env*.local

# Local file
local
