.actor-title {
  font-size: 20px;
}

.actor-text {
  margin: 0;
}

@media (max-width: 1200px) {
  .actor-title {
    font-size: 15px;
  }
  .actor-text {
    font-size: 12px;
  }
}

/* @media (max-width: 576px) {
    .container {
        margin: 0 10vw;
    }
  .actor-list {
    margin: 0 10vw;
  }
} */
