@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import './primereact/index.css'
 