@tailwind base;
html {
  overflow-y: scroll;
}

@tailwind components;

.fit {
  min-height: calc(100vh - 511px);
}

@tailwind utilities;

p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-size: 27px;
}

/* Fix category colors in production */
.bg-yellow-600 {
  background-color: #d97705;
}
.bg-blue-600 {
  background: #3929eb;
}
.bg-green-600 {
  background-color: #049669;
}
.bg-purple-600 {
  background-color: #7730db;
}
.bg-red-600 {
  background-color: #a70b34;
}
.bg-pink-600 {
  background-color: #DB2777;
}
