@tailwind base;
html {
  overflow-y: scroll;
}

h1, h2 {
  font-family: Raleway;
}

/* p {
  font-family: Open Sans;
} */

@tailwind components;

.fit {
  min-height: calc(100vh - 511px);
}

@tailwind utilities;
